* {
    box-sizing: border-box;
}
$font_roboto: 'Roboto', sans-serif;
$font_montserrat: 'Montserrat', sans-serif;
$font_dancing:'Dancing Script', cursive;
$font_raleway:'Raleway', sans-serif;
$color_primary:#888888;
$color_active:#222222;